body{
    background-color: #77BABE;
    margin-left: 2%;
}

h1 { font-family: Verdana, Geneva, Tahoma, sans-serif, Times, "Times New Roman", serif; font-size: 24px; font-style: normal; color: #4D4D4D; margin-left: 40px;}
label { font-family: Verdana, Geneva, Tahoma, sans-serif, Times, "Times New Roman", serif; font-size: 12px;font-weight: bold ;font-style: normal; color: #4D4D4D;}
.campo { width: 180px; height: 28px;}

.botaoEnviar{
    background: #EC7458;
    color: white;
    border-style: outset;
    border-color: #77BABE;
    height: 28px;
    width: 180px;
    font: bold15px Verdana,sans-serif;
    text-shadow: none;  
    font-weight: bold;
    cursor: pointer;

}

.botaoCadastrar{
    background: #EC7458;
    color: white;
    border-style: outset;
    border-color: #77BABE;
    height: 28px;
    width: 180px;
    font: bold15px Verdana,sans-serif;
    text-shadow: none;  
    font-weight: bold;
    cursor: pointer;

}

.botaoGoogle{
    background: white;
    color: #898989;
    border-style: outset;
    border-color: #77BABE;
    height: 28px;
    width: 180px;
    font: bold15px Verdana,sans-serif;
    text-shadow: none;  
    font-weight: bold;
    cursor: pointer;

}

.botaoGoogle{
    background-image:url("google.png");
    background-repeat: no-repeat;
    background-size: 25px;

}

.logo{
    background-position: 80px 100px;
    margin-left: 30px;
}

.rodape{
    font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 7px; font-weight: bold;font-style: normal; color: #4D4D4D;
}
