body{
    background-image: url('fundo.png');
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    width: 50%;
}
a{
   font-weight: bold;
   color:#4b566a;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   padding: 5px;
   text-decoration: none;
}

.corpoIndex{
    background-color: #E7E8D8;
    text-align: justify;
    font-size: 18px;
    padding: 10px;
}

h3{
    color:grey;
}
.menu{
    padding: 18PX;
    background: #c5c5b2;
}

.imagem{
    border: 10px solid #c3c3ae;
}

.imagem2{
    border: 10px solid #c5c5b2;
}
